/resource/file/F1.txt
/resource/file/F1_coded_Fano.txt
/resource/file/F1_coded_haffman.txt
/resource/file/F1_coded_Shenon.txt
/resource/file/F1_coded_Shenon_decoded.txt
/resource/file/F2.txt
/resource/file/F2_coded_Fano.txt
/resource/file/F2_coded_haffman.txt
/resource/file/F2_coded_Shenon.txt
/resource/file/F2_coded_Shenon_decoded.txt
/resource/file/F3_coded_Fano_Rus.txt
/resource/file/F3_coded_Fano_Rus_decoded.txt
/resource/file/F3_coded_haffman_Rus.txt
/resource/file/F3_coded_haffman_Rus_decoded.txt
/resource/file/F3_coded_Shenon.txt
/resource/file/F3_coded_Shenon_Rus.txt
/resource/file/F3_coded_Shenon_Rus_decoded.txt
